.grid-container {
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  height: 100%;
  background: #fff;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "Search Header" "Users Messages" "Options Send";
}

.grid-sm {
  height: 100%;
  max-width: 100%;
  background: #fff;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas: "Header" "Search" "Users" "Messages" "Send";
}

.hidden {
  display: none;
}

.grid-container > div {
  border: 1px solid silver;
  padding: 1rem;
}

.Users {
  grid-area: Users;
}

.Messages {
  grid-area: Messages;
  overflow: auto;
  max-height: 100%;
}

.Options {
  grid-area: Options;
}

.Send {
  grid-area: Send;
  display: flex;
}

.Send .pm {
  border-radius: 50%;
  cursor: pointer;
}

.Send .pm:hover {
  background: red;
  color: white;
}

.Send div {
  white-space: nowrap;
  padding-right: 10px;
}

.Send button.send-button {
  background: #a6eefa;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Send input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid silver;
  width: 100%;
  font-size: 1.3rem;
  padding: 4px 0;
  padding-left: 0.5rem;
}
.Send input::placeholder {
  font-size: 12px;
}

.Send .Search {
  grid-area: Search;
}

.Search input {
  width: 100%;
  margin: 0;
}

.Header {
  grid-area: Header;
}

.me {
  display: flex;
  justify-content: flex-start;
  color: green;
}

.user {
  margin-bottom: 7px;
  width: 30vw;
}
.me .user .message {
  color: #000;
  padding: 6px 12px;
  background: rgb(201, 245, 218);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.notme {
  display: flex;
  justify-content: flex-end;
  color: red;
  text-align: right;
}

.notme .user .message {
  padding: 6px 12px;
  background: rgb(241, 213, 175);
  color: #000;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.profile {
  display: flex;
  align-items: center;
  padding: 13px 2rem;
  border-radius: 5px;
  background: silver;
}
