.grid-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  height: 100%;
  background: #fff;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "Search Header" "Users Messages" "Options Send";
}

.grid-container > div {
  border: 1px solid silver;
  padding: 1rem;
}

.Users {
  grid-area: Users;
}

.Messages {
  grid-area: Messages;
}

.Options {
  grid-area: Options;
}

.Send {
  grid-area: Send;
}

.Send input {
  width: 100%;
  font-size: 1.3rem;
  padding: 4px 0;
}

.Search {
  grid-area: Search;
}

.Search input {
  width: 100%;
  margin: 0;
}

.Header {
  grid-area: Header;
}

.me {
  color: green;
}

.notme {
  color: red;
}
