.grid-container {
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  height: 100%;
  background: #fff;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "Search Header" "Users Messages" "Options Send";
}

.grid-sm {
  height: 100%;
  max-width: 100%;
  background: #fff;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas: "Header" "Search" "Users" "Messages" "Send";
}

.hidden {
  display: none;
}

.grid-container > div {
  border: 1px solid silver;
  padding: 1rem;
}

.Users {
  grid-area: Users;
}

.Messages {
  grid-area: Messages;
  overflow: auto;
  max-height: 100%;
}

.Options {
  grid-area: Options;
}

.Send {
  grid-area: Send;
  display: flex;
}

.Send .pm {
  border-radius: 50%;
  cursor: pointer;
}

.Send .pm:hover {
  background: red;
  color: white;
}

.Send div {
  white-space: nowrap;
  padding-right: 10px;
}

.Send input {
  width: 100%;
  font-size: 1.3rem;
  padding: 4px 0;
}

.Send .Search {
  grid-area: Search;
}

.Search input {
  width: 100%;
  margin: 0;
}

.Header {
  grid-area: Header;
}

.me {
  display: flex;
  justify-content: flex-start;
  color: green;
}

.notme {
  display: flex;
  justify-content: flex-end;
  color: red;
}

.profile {
  display: flex;
  align-items: center;
  padding: 13px 2rem;
  border-radius: 5px;
  background: silver;
}
