<!-- <pre>{{ screenSize | json }}</pre> -->
<div class="grid-container" [ngClass]="{'grid-sm': screenSize?.sm}">
  <div class="Header">
    <div style="display:flex; align-items: center;">
      <div class="profile" (dblclick)="changeme = true" *ngIf="!changeme">
        <mat-icon>person</mat-icon> {{me }}
      </div>
      <mat-form-field appearance="outline" *ngIf="changeme" (mouseleave)="isOutside=true"
                      (mouseenter)="isOutside=false">
        <mat-label>Change User Name</mat-label>
        <input matInput placeholder="Change User Name" value="{{me}}"
               (keyup.enter)="changeName()"
               (keyup.esc)="changeme = false" #inpt>
      </mat-form-field>
    </div>
  </div>

  <div class="Search">
    <mat-form-field appearance="outline">
      <mat-label>Search Users</mat-label>
      <input matInput placeholder="Search Users" [(ngModel)]="filterSearch">
    </mat-form-field>
  </div>
  <div class="Users">
    <div *ngFor="let user of usersList | filter: filterSearch">
      <div *ngIf="me!==user">
        <span style="cursor:pointer; font-weight: bold;"
              (click)="setPm(user)">{{ user }}</span>
      </div>
      <div *ngIf="me===user">
        {{user}}
      </div>
    </div>
  </div>

  <div class="Messages">
    <div *ngFor="let item of messages">
      <div [ngClass]="{'me': item.user === me, 'notme': item.user!==me }">
        <div *ngIf="!item.to">
          <div class="user">{{item.user}} @ {{item.date | date: 'yyyy-MM-dd, h:mm:ss'}}<mat-card class="message">{{ item.text}}</mat-card>
          </div>
        </div>
        <div *ngIf="item.to && (me === item.user || me === item.to)">
          <div class="user">{{item.user}} @ {{item.date | date: 'yyyy-MM-dd, h:mm:ss'}}<mat-card class="message">{{ item.text}}</mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Options" [ngClass]="{'hidden': screenSize.sm}"></div>

  <div class="Send">
    <div>
      <button class="pm" (click)="setPm()" *ngIf="selectedUser" mat-mini-fab>
        <mat-icon>speaker_notes_off</mat-icon>
      </button> {{selectedUser}}
    </div>
    <input [(ngModel)]="message" (keyup.enter)="message ? onAdd(message): false" placeholder="Enter a message please"/>
    <button class="send-button" mat-button color="primary" (click)="message? onAdd(message) : false">
      <mat-icon matSuffix>send</mat-icon>
    </button>
  </div>

</div>
<!-- <router-outlet></router-outlet> -->
